@model dynamic

@if (ViewBag.ActiveNavItem == Model.Title)
{
    <li class="active">
        <a href="@Url.Content(Model.Url)">@Model.Title</a>
    </li>
}
else
{
    <li><a href="@Url.Content(Model.Url)">@Model.Title</a></li>
}
