@model dynamic

@{
    ViewBag.Title = "Account Already Activated";
}

<div class="row-fluid">
    <div class="span8 offset2">
        <h2>
            <i class="icon-exclamation-sign"></i>
            Account Already Activated
        </h2>
        <a href="@Url.Action("SignIn")" class="btn">Sign In</a>
    </div>
</div>
