@model AssessmentAnywhere.Models.Account.AccountActivationModel

@{
    ViewBag.Title = "Account already activated";
}

<div class="row-fluid">
    <div class="span8 offset2">
        <h2>Account already activated</h2>
        <p>You have already activated your account, @Html.ActionLink("sign in", "SignIn") to get started.</p>
    </div>
</div>
