@{
    ViewBag.Title = "Change Password";
}

<div class="row-fluid">
    <div class="span8 offset2">
        <div class="alert alert-success">
            <a href="@Url.Action("Index", "Home")" class="close">&times;</a>
            <b>Success!</b> Your password has been changed successfully.
        </div>
        <p class="text-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn-large btn-primary">
                <i class="icon-home icon-white"></i>
                Home
            </a>
        </p>
    </div>
</div>
