@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    @RenderSection("Head", false)
}

<div class="container-fluid">
    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Home", "Index", "Assessments")</li>
            <li class="disabled"><a href="javascript:;" title="Coming soon!">Reports</a></li>
        </ul>
    </div>

    @RenderBody()

</div>

@section Scripts
{
    @RenderSection("scripts", required: false)
}