@model AssessmentAnywhere.Models.Assessments.CreateModel
@{
    ViewBag.Title = "New assessment";
    Layout = "_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span8 offset2 well">
        @using (Html.BeginForm("Create", "Assessments", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>New assessment</legend>
                <div class="control-group">
                    @Html.LabelFor(m => m.Name, "Assessment Name", new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Assessment Name" })
                        <em>@Html.ValidationMessageFor(m => m.Name)</em>
                        <span class="help-block">Give your new assessment a helpful, discriptive name.</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
