@model AssessmentAnywhere.Models.Assessments.CreateModel
@{
    ViewBag.Title = "New assessment";
    Layout = "_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span8 offset2 well">
        @using (Html.BeginForm("Create", "Assessments", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>
                    <i class="icon-plus"></i>
                    New assessment
                </legend>
                <div class="control-group">
                    @Html.LabelFor(m => m.Name, "Assessment Name", new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Assessment Name", autofocus = "autofocus" })
                        <em>@Html.ValidationMessageFor(m => m.Name)</em>
                        <span class="help-block">Give your new assessment a helpful, discriptive name.</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="pull-left">
                                <button type="submit" class="btn btn-success btn-large">
                                    <i class="icon-ok"></i>
                                    Create
                                </button>
                            </div>
                            <div class="pull-left offset1">
                                <a href="@Url.Action("Index")" class="btn">
                                    <i class="icon-remove"></i>
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
