@model AssessmentAnywhere.Models.Assessments.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span3">
        <p>
            @Html.ActionLink("New assessment", "Create", "Assessments", null, new { @class = "btn btn-primary" })
        </p>
        @*<div class="navbar">
            <div class="navbar-inner">
                <form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query" placeholder="Search" />
                </form>
            </div>
        </div>*@
        <ul class="nav nav-pills nav-stacked">
            @foreach (var assessment in Model.Assessments)
            {
                <li>@Html.ActionLink(assessment.Name, "Details", new { id = assessment.Id })</li>
            }
        </ul>
    </div>
    <div class="span9">
    </div>
</div>
