@model AssessmentAnywhere.Models.Assessments.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "_Layout.cshtml";
}

@section Head
{
    <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
}

<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Actions</li>
                <li><a href="@Url.Action("Create")"><i class='icon-plus'></i>New assessment ...</a></li>
            </ul>
        </div>
    </div>
    <div class="span9">
        @if (Model.Assessments.Any())
        {
            <table class="table table-hover table-condensed">
                <tbody>
                    @foreach (var assessment in Model.Assessments)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(assessment.Name, "Details", new { id = assessment.Id }, new { @style = "display: block" })
                            </td>
                            <td>
                                <a href="@Url.Action("Delete", new { id = assessment.Id })" class="btn btn-small btn-danger pull-right" data-assessment-id="@assessment.Id">
                                    <i class="icon-remove icon-white"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="hero-unit">
                <h2>Getting started</h2>
                <p>Creating your first assessment by clicking "New assessment..." button on the actions menu to the left.</p>
            </div>
        }
    </div>
</div>
