@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Assessments", "Index", "Assessments")</li>
    <li>@Html.ActionLink("Registers", "Index", "Registers")</li>
</ul>
